*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 2px;
    
}
h2{
    height: 20px;
}
.form-elements{
    margin-bottom: 20px;
}
.form-elements input{
    height: 25px;
}
.form-elements h2:hover{
    color: rgb(209, 146, 28) !important;
    cursor: pointer;
}
.form-elements p{
    margin-left: 348px;
}
#navbar{
    font-size: 20px;
    width: 355px;
    margin: auto;
    
}
#navbar a{
    color: rgb(11, 157, 255);
}
a:hover{
    color: wheat !important;
}
a:active{
    color: rgb(152 230 152) !important;;
}
#nav-input{
    margin-left: 30px;
}
input{
    width: 500px;
    height: 30px !important;
}

@keyframes size-tweening{
    from{
        width: 200px;
        height: 0px;
    }

    to{
        width: 350px;
        height: 50px;
    }
}

    #enroll-animation{
    font-size: 30px;
    color: red;
    background: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: size-tweening;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
